@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  font-family: 'Roboto', sans-serif;
  height:100%;
}

body{
  height:100%;
  margin:0;
  display: flex;
}

#mainBody{
    width:73%;
    min-height:80%;
    box-shadow:2px 2px 10px 1px rgb(204, 204, 204);
    margin:auto;
    padding:4%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.form__field:focus ~ .form__label {
  color: #5F68C3;
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #5F68C3;
}

button{
    padding:8px 15px;
    width:100px;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    color: #5F6368;
    cursor: pointer;
    border-radius:4px;
    font-weight: 600;
}
#gigaHunt{
    font-size: 30px;
    margin:0;
    padding:0;  
    font-weight:500;  
    padding-bottom:20px;
    color:#5F68C3;
    align-self: center;
    cursor: pointer;
    text-decoration:none;
}
#centralize{
  align-self: center;
}