html{
    height:100%;
}
body{
    margin:0;
    display:flex;
    flex-direction:column;
    min-height:100%;
    font-family: Segoe UI,Regular;
}

#headBar{
    background-color:#FFFFFF;
    /* height:6vw; */
    min-height:80px;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-family: Segoe UI,Regular;
    z-index:1;
    box-shadow: 1px 1px 3px rgb(200, 200, 200);
}
#remBody{
    background-color:#F5F5F5;
    /* height:100px; */
    flex:1;
    padding-bottom:40px;
}
#gigaHunt{
    font-size: 30px;
    margin:0;
    padding:0;  
    font-weight:500;  
    color:#5F68C3;
    margin-left:30px;
    margin-top:-5px;
    cursor: pointer;
    text-decoration:none;
}
#search{
    display:flex;
    flex-direction:row;
    margin-left:40px;
    padding:10px 15px;
    flex:1;
    border-radius:15px;
    border:1px solid #dfe1e5;
    min-width:400px;
}
#search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#searchInput{
    border:none;
    font-size:18px;
    color:rgba(0,0,0,0.87) ;
    width:100%;
}
#searchInput:focus{
    outline:none;
}
#searchIcon{
    background: none;
    color: #4285f4;
    height: 24px;
    width: 24px;
    margin: auto;
    cursor: pointer;
}
#space{
    flex:1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#userName{
    margin:0;
    margin-right:10px;
    font-weight:400;
    color:rgb(63, 63, 63);
    cursor: pointer;
}
#userPic{
    width:50px;
    height:50px;
    border-radius:26px;
    margin-right:30px;
    border: 1px solid #dfe1e5;
    cursor: pointer;
}
#resultList{
    width:70%;
    margin-left:10%;
    /* background-color: red; */
}
#errCorr{
    display:none;
    flex-direction: row;
    align-items: center;
}
#errCorrGen{
    color:#6B6B6B;
    font-weight: 400;
}
#errCorrTxt{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#370DB3;
    text-decoration: underline;
    font-weight:500;
    cursor: pointer;
}
.siteLink{
    text-decoration: none;
}
#listElement{
    width:100%;
    background-color: #F9F9F9;
    padding:20px 30px;
    box-shadow: 0px 3px 8px #94949429;
    border: 1px solid #D8D8D8;
    border-radius: 25px;
    margin-bottom:10px;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 10px;
    display: flex;
}
#notDivSummarizer{
    flex:2;
}
#divSummarizer{
    flex:1;
    border-left:1px solid #dcdcdc;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:-10px;
}
#listElement:hover{
    background-color: rgb(238, 238, 238);
}
#leftElm{
    margin-bottom:10px;
}
#elmTitle{
    margin:0;
    font-size:20px;
    font-weight:500;
    color: #370DB3;
}
#elmLink{
    color: #2B8562;
    font-size:14px;
    margin:0px;
    padding:0;
    font-weight:500;
}
#elmContent{
    color: #686868;
    font-weight:400;
    margin:0;
    padding:0;  
    font-size:14px;
}
.dark{
    font-weight:600;
}
footer{
    min-height:100px;
    overflow:hidden;
    box-shadow:-1px -1px 4px rgb(219, 219, 219);
}
#infoFooter{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:80%;
    margin:auto;
    margin-top: top 0;
    margin-bottom:0;
}
#infoFooterName{
    color:#370DB3;
    padding:0px 40px;
}
#infoFooterInfo{
    color:#6B6B6B;
}
#footerDev{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footerDevText{   
    margin:0;
    padding:0;
    color:rgb(99, 99, 99);
    font-weight:400;
    font-size:12px;
    margin-bottom:10px;
}
#recommenderHorizontal{
    height:200px;
    width:100%;
    background-color: #370DB3;
}
.tag_elm{
    float:left;
    padding:5px 10px;
    background-color: rgb(221, 221, 221);
    margin-right:10px;
    border-radius:10px;
    margin-bottom:5px;
    text-decoration: none;
    border-width:0px;
}
.tag_elm:hover{
    background-color: rgb(196, 196, 196);
}
.tag_text{
    color:#212121;
    margin:0;
    padding-left:4px;
    padding-right:4px;
    cursor:pointer;
}
.tag_scroller{
    width: max-content;
}
#overflower{
    max-width:600px;
    overflow-x: scroll;
    -ms-overflow-style: none;
}
#overflower::-webkit-scrollbar {
    display: none;
}
#Elms{
    display:flex
}
#rightElm{
    display: flex;
    align-items: center;
}