html{
    height:100%;
}
body{
    margin:0;
    display:flex;
    flex-direction:column;
    min-height:100%;
    font-family: Segoe UI,Regular;
    background-color: #F8F8F8;
}
#GigaHuntLogo{
    margin:0px auto;
    margin-top:8%;
    text-align:right;
}
#GigaHuntLogoText{
    color: #5F68C3;
    font-size:95px;
    font-weight:400;
    margin:0px 30px;
}
#tagLine{
    align-self: end;
    margin:0;
    margin-top:-10px;
    color:#5F68C3;
}
#extra_check{
    margin:10px auto;
}
#extra_check:focus{
    outline:none;
}
#fullSearchBox{
    background-color: white;
    min-width:500px;
    margin:10px auto 0px auto;
    display:flex;
    flex-direction:column;
    padding:10px 15px;
    border-radius:15px;
    border:1px solid #dfe1e5;
    position: relative;
}
#fullSearchBox:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#searchBox{
    display:flex;
    flex-direction: row;
}
#searchBoxInput{
    flex:1;
    border:none;
    font-size:18px;
    padding-left:10px;
    color:#434343;
}
#searchBoxInput:focus{
    outline:none;
}
#searchIcon{
    background: none;
    color: #4285f4;
    height: 24px;
    width: 24px;
    margin: auto;
    cursor: pointer;
}
#dropdown{
    margin-top:22px;
    position: absolute;
    flex:1;
    display:none;
    width:100%;
    z-index:99;
    background-color: white;
    align-self:center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border:1px solid rgba(223,225,229,0);
    box-shadow:0 5px 5px 0 rgba(32,33,36,0.28);
}
#borderMarking{
    width:90%;
    margin:10px auto;
    border-top:1px solid #AEAEAE;
}
#oldSearches{
    padding-left:15px;
    padding-right:15px;
    overflow: hidden;
    height: 170px;
    overflow-y: scroll;
}
.tag_elm{
    float:left;
    padding:5px 10px;
    background-color: #eee;
    margin-right:10px;
    border-radius:5px;
    margin-bottom:5px;
    text-decoration: none;
    border-width:0px;
}
.tag_elm:hover{
    background-color: rgb(196, 196, 196);
}
.tag_text{
    color:#212121;
    margin:0;
    padding-left:4px;
    padding-right:4px;
    cursor:pointer;
}
#searchButtons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:50px;
}
#searchBtn,#directSearch{
    padding:8px 15px;
    margin:10px;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    color: #5F6368;
    cursor: pointer;
    border-radius:4px;
    font-weight: 600;
}
#UserScreen{
    align-self: center;
}
#goToUserScreens{
    padding:8px 15px;
    margin:10px;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    color: #5F6368;
    cursor: pointer;
    border-radius:4px;
    font-weight: 600;
    width:200px;
}
#searchBtn:hover,#directSearch:hover,#goToUserScreens:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
#recommender{
    width:300px;
    height:100%;
    background-color: rgb(223, 223, 223);
    position: absolute;
    text-align: center;
    overflow: scroll;
    border-right: 1px solid #818181;
    box-shadow:2px 2px 5px rgb(172, 172, 172);
}
#recommender::-webkit-scrollbar {
    display: none;
}
#recommender_head{
    color:rgb(58, 58, 58);
}
#recommender_results{

}
.result_elm{
    overflow:hidden;
    text-align: left;
    padding:0px 20px;
    border-top:1px solid rgb(168, 168, 168);
}
.result_elm:hover{
    background-color: rgb(197, 197, 197);
}
.recResElmHead{
    color: #370DB3;
    margin-bottom:2px;
    font-size:20px;
    font-weight:600;
}
.recResElmLink{
    color: #2B8562;
    margin:0px;
    font-size:14px;
}
.recResElmDesc{
    margin-top:2px;
    color:#525252;
}